<h2> Download Data Here </h2> 
<ul>
	<li>
		<p>Check your files - there should be something there!</p>
		<% test_file = File.new("/public/test.txt", "w") %> 
		<% test_file.puts("Testing if this works!") %> 
		<% test_file.close %> 
	</li>
</ul>