%h2 Select Data to Download
%br/
%ul
  %li
    %p Select the time range and types of data you would like to download
    %p If you see "####" in your spreadsheet, try widening the columns
    %br/
  / Form to submit data preferances for download
  %li
    %form{:action => "/downloadcsv2", :method => "GET"}
      From:
      %input{:name => "date1", :type => "date"}/
      To:
      %input{:name => "date2", :type => "date"}/
      %br/
      %br/	
      Temperature:
      %input{:name => "temperature", :type => "checkbox"}/
      %br/
      %br/
      Current:
      %input{:name => "current", :type => "checkbox"}/
      %br/
      %br/
      Voltage:
      %input{:name => "voltage", :type => "checkbox"}/
      %br/
      %br/
      %input{:type => "submit", :value => "Download"}/