%h2 Select Data to Download
%br/
%ul
  %li
    %p Select the time range and types of data you would like to download (CSV file)
    %p If you see "####" in your spreadsheet, try widening the columns
    - if flash[:error]
  %h2
    = flash[:error]
  / Form to submit data preferances for download
  %br/
  %li
    %form{:action => "/downloadcsv", :method => "GET"}
      From:
      %input{:name => "date1", :type => "date"}/
      To:
      %input{:name => "date2", :type => "date"}/
      %br/
      %br/	
      Temperature:
      %input{:name => "temperature", :type => "checkbox"}/
      %br/
      %br/
      Current:
      %input{:name => "current", :type => "checkbox"}/
      %br/
      %br/
      Voltage:
      %input{:name => "voltage", :type => "checkbox"}/
      %br/
      %br/
      %input{:type => "submit", :value => "Download"}/