<h2> Select Data to Download </h2> 
<ul>
	<li>
		<p>Select the time range and types of data you would like to download</p> 
	</li>
	
	<!-- Form to submit data preferances for download-->
	<li>
		<form action="/downloadcsv2">
			From: <input type="date" name="date1">
			To: <input type="date" name="date2"><br>

			Temperature: <input type="checkbox" name="temperature"><br>
			Current: <input type="checkbox" name="current"><br>
			Voltage: <input type="checkbox" name="voltage"><br>
			<br>
			<input type="submit" value="Submit">
		</form>
	</li>
</ul>