%h2 Select Data to Download
%br/
%ul
  %li
    %p Select the time range and types of data you would like to download (CSV file)
    %p If you see "####" in your spreadsheet, try widening the columns

  / Form to submit data preferances for download
  %br/
  %li
    %form{:action => "/downloadcsv", :method => "GET"}
      From:
      %br/
      %br/
      Date:
      %input{:name => "date1", :type => "date"}/
      Time:
      %input{:name => "time1", :type => "time"}/
      %br/
      To:
      %br/
      %br/
      Date:
      %input{:name => "date2", :type => "date"}/
      Time:
      %input{:name => "time2", :type => "time"}/
      %br/
      %br/	
      Temperature:
      %input{:name => "temperature", :type => "checkbox"}/
      %br/
      %br/
      Current:
      %input{:name => "current", :type => "checkbox"}/
      %br/
      %br/
      Voltage:
      %input{:name => "voltage", :type => "checkbox"}/
      %br/
      %br/
      %input{:type => "submit", :value => "Download"}/
