:css
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  

%script{:src => "//www.google.com/jsapi"}
%script{:src => "chartkick.js"}

%h2 Select Data to View
%br/
%ul
  %li
    %p Select the time range of data the data you would like to view

%h2 Current:
= line_chart @current

%h2 Voltage:
= line_chart @voltage

%h2 Temperature: 
= line_chart @temperature
