:css
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  

%script{:src => "//www.google.com/jsapi"}
%script{:src => "chartkick.js"}

%h2 Select Time Range to Visualize
%br/
%ul
  %li
    %p Select the date and time range you would like visualize. By default, the graph shows the last 10 entries.
  %br/
  %li
    %form{:action => "/filter", :method => "POST"}
      %h3 From:
      %br/
      Date (yyyy-mm-dd):
      %input{:name => "date1", :type => "date"}/
      %br/
      Time (hh:mm:ss):
      %input{:name => "time1", :type => "time"}/
      %br/
      %br/
      %h3 To:
      %br/
      Date (yyyy-mm-dd):
      %input{:name => "date2", :type => "date"}/
      %br/
      Time (hh:mm:ss):
      %input{:name => "time2", :type => "time"}/
      %br/
      %br/
      %input{:type => "submit", :value => "Visualize!"}/

%br/
%h2 Current:
= line_chart @current

%h2 Voltage:
= line_chart @voltage

%h2 Temperature: 
= line_chart @temperature
