.title
  .image-centered
    %img(src="banner.png")
  %h2 Stanford ESW - Remote Monitoring for Vaccine Refrigerators
%p Welcome to our website!
#three-column.container
  %div
    %span.arrow-down
  #tbox1
    .title
      %h2 About Us
    %p Learn more about the project.
    %a.button{:href => "/about"} Learn More
  #tbox2
    .title
      %h2 View Filtered Data
    %p See and interact with filtered data.
    %a.button{:href => "/filter"} Learn More
  #tbox3
    .title
      %h2 View Data Entries
    %p View the raw data entries.
    %a.button{:href => "/entries"} Learn More