<!DOCTYPE html>
<html>
	<head>
		<title><%= @title %> | ESW Vaccine Project</title>
		<link href="/style.css" rel="stylesheet">
	</head>
	<body>
		<div id="container">
			<header>
				<div id="header">
					ESW Vaccine Project
				</div>
			</header>
			<div id="content">
				<h2 class="section-heading">Vaccine Project</h2>
				<a href="/client">Click Here</a>
			</div>
		</div>
	</body>
</html>

