<!DOCTYPE html>
<html>
	<head>
		<title><%= @title %> | ESW Vaccine Project</title>
		<link href="/style.css" rel="stylesheet">
	</head>
	<body>
		<header>
			ESW Vaccine Project
		</header>
		<div id="content">
			<h2 class="section-heading">Vaccine Project</h2>
			<h3>Stanford ESW</h3>
			<p>Testing</p>
			<a href="/entries">View all entries</a>
		</div>
	</body>
</html>