.title
  %h2 Welcome to our website
%p This is the homepage of the Stanford ESW Vaccine Project in partnership with PATH.
#three-column.container
  %div
    %span.arrow-down
  #tbox1
    .title
      %h2 Maecenas luctus
    %p Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac suscipit mauris. Proin eu wisi suscipit nulla suscipit interdum.
    %a.button{:href => "#"} Learn More
  #tbox2
    .title
      %h2 Integer gravida
    %p Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem semper suscipit eleifend. Donec mattis libero eget urna. Duis  velit ac mauris.
    %a.button{:href => "#"} Learn More
  #tbox3
    .title
      %h2 Praesent mauris
    %p Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem suscipit  eleifend.
    %a.button{:href => "#"} Learn More
#portfolio.container
  .column1
    .box
      %h3 Vestibulum venenatis
      %p Fermentum nibh augue praesent a lacus at urna congue rutrum.
      %a.button.button-small{:href => "#"} Etiam posuere
  .column2
    .box
      %h3 Praesent scelerisque
      %p Vivamus fermentum nibh in augue praesent urna congue rutrum.
      %a.button.button-small{:href => "#"} Etiam posuere
  .column3
    .box
      %h3 Donec dictum metus
      %p Vivamus fermentum nibh in augue praesent urna congue rutrum.
      %a.button.button-small{:href => "#"} Etiam posuere
  .column4
    .box
      %h3 Mauris vulputate dolor
      %p Rutrum fermentum nibh in augue praesent urna congue rutrum.
      %a.button.button-small{:href => "#"} Etiam posuere